<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Sport WebSite</title>
    <link rel="stylesheet" href="../static/css/homepage.css">
    {% include 'default/fonts.html' %}
</head>

<body>
    <div class="container1">
        <p>Добро пожаловать на мой спортивный сайт :)</p>
    </div>
    <div class="container2">
        <div class="container2--box">
            <div id="text1">
                <p>
                    Посмотрите в каталоге необходимые вам упражнения на определенные
                    группы мышц. Удобный поиск, фильтр по используемому снаряжению
                </p>
            </div>
            <div id="text2">
                <p>
                    Используйте большой каталог продуктов и дополняйте его сами,
                    создавайте блюда, чтобы быстро и удобно ставить цели и
                    считать БЖУ за день
                </p>
            </div>
        </div>
        <img src="../static/img/homepage__bg1.png">
        <div class="container2--box">
            <div id="text3">
                <p>
                    Зарегистрирйтесь и составляйте расписания занятий,
                    указывая период, время, сохраняя прогресс предыдущей
                    тренировки для сравнения и удобной прогрессии
                </p>
            </div>
        </div>
    </div>
    <div class="container3">
        <img src="../static/img/homepage__warning.png">
        <div>
            <p>
                Проект находится в вечном режиме разработки, поэтому
                создатель не несёт ответственности за ошибки и сбои :)
            </p>
        </div>
    </div>

    <div class="container4">
        <img src="../static/img/homepage__computer.png">
        <div>
            <p>
                Проект был создан с целью личного пользования, возобновления
                навыков веб разработки и дополнительной подготовки к университету
            </p>
        </div>
    </div>
    <div class="container5">
        <div>
            <a href="/login/">Log in</a>
        </div>
        <div>
            <a href="/register/">Register</a>
        </div>
    </div>
    {% include 'default/footer.html' %}
</body>

</html>
