{% extends 'defaults/base.html' %}

{% load static %}

{% block title %}Смена пароля{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auths/css/change-password.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    <h2>Смена пароля</h2>
    <form id="changePasswordForm" method="post">
        {% if errors %}
            {% for error in errors %}
                <p style="font-weight: 300; color: #752e2e;">{{ error }}</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        <div class="form-group">
            <label for="old_password">Старый пароль:</label>
            <input type="password" id="old_password" name="old_password">
        </div>
        <div class="hint">
            <p id="old_password_hint_1">* Минимум 7 символов английского алфавита</p>
            <p id="old_password_hint_2">* Минимум одна буква и одна цифра</p>
        </div>

        <div class="form-group">
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password">
        </div>
        <div class="hint">
            <p id="new_password_hint_1">* Минимум 7 символов английского алфавита</p>
            <p id="new_password_hint_2">* Минимум одна буква и одна цифра</p>
        </div>

        <div class="form-group">
            <label for="confirm_password">Повторите новый пароль:</label>
            <input type="password" id="confirm_password" name="confirm_password">
        </div>
        <div class="hint">
            <p id="confirm_password_hint">* Пароли должны совпадать</p>
        </div>

        <div class="captcha">
            {% include 'defaults/captcha.html' %}
        </div>

        <button type="submit">Сменить пароль</button>
    </form>
</div>

{% include 'defaults/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'auths/js/change-password.js' %}"></script>
    <script src="{% static 'defaults/js/captcha.js' %}"></script>
{% endblock %}
