{% extends 'defaults/base.html' %}

{% load static %}

{% block title %}Вход в аккаунт{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'auths/css/login.css' %}">
    <link rel="stylesheet" href="{% static 'defaults/css/captcha.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Вход в аккаунт</h1>
        {% if user_not_found %}
            <p style="color: #752e2e">{{ user_not_found }}</p>
        {% endif %}
        {% if errors %}
            {% for field, field_errors in errors.items %}
                <p style="color: #752e2e">{{ field }}: 
                    {% for error in field_errors %}
                        {{ error }}
                    {% endfor %}
                </p>
            {% endfor %}
        {% endif %}
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" id="email" name="email" {% if errors %}style="border: 1px solid #752e2e"{% endif %}>
            </div>

            <div class="hint" id="email_hint">
                <p>* Придерживайтесь формата example@mail.com</p>
            </div>

            <div class="form-group">
                <label for="password">Пароль:</label>
                <input type="password" id="password" name="password" {% if errors %}style="border: 1px solid #752e2e"{% endif %}>
            </div>

            <div class="hint" id="password_hint_1">
                <p>* Должно быть как минимум 7 символов английского алфавита</p>
            </div>
    
            <div class="hint" id="password_hint_2">
                <p>* Как минимум 1 буква и 1 цифра</p>
            </div>

            <div class="captcha">
                {% include 'defaults/captcha.html' %}
            </div>

            <p class="register-text">Еще нет аккаунта?
                <a href="{% url 'register' %}">Зарегистрироваться</a>
            </p>

            <button type="submit">Войти в аккаунт</button>
        </form>
    </div>
    {% include 'defaults/footer.html' %}
{% endblock %}

{% block scripts %}
    <script src="{% static 'defaults/js/captcha.js' %}"></script>
    <script src="{% static 'auths/js/login.js' %}"></script>
{% endblock %}
