{% extends 'defaults/base.html' %}

{% load static %}

{% block title %}Восстановление пароля{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'auths/css/restore-password.css' %}">
{% endblock %}

{% block content %}
<div class="container">
    {% if stage == 1 %}
    <!-- Этап 1: Ввод email для восстановления пароля -->
    <h2>Восстановление пароля</h2>
    {% if errors %}{% for error in errors %}<p style="text-align: center; color: #752e2e;">{{ error }}</p>{% endfor %}{% endif %}
    <form id="emailForm" method="post">
        {% csrf_token %}
        <input type="hidden" id="stage" name="stage" value="1">
        <div class="form-group">
            <label for="email">Введите ваш email:</label>
            <input type="text" id="email" name="email">
            <span id="comment-email" class="comment">Формат: example@mail.com</span>
        </div>
        <div class="captcha">
            {% include 'defaults/captcha.html' %}
        </div>
        <button type="submit">Отправить</button>
    </form>
    {% elif stage == 2 %}
    <!-- Этап 2: Ввод кода и нового пароля -->
    <h2>Смена пароля</h2>
    {% if errors %}{% for error in errors %}<p style="text-align: center; color: #752e2e;">{{ error }}</p>{% endfor %}{% endif %}
    <form id="passwordForm" method="post">
        {% csrf_token %}
        <input type="hidden" id="stage" name="stage" value="2">
        <input type="hidden" id="email" name="email" value="{{ email }}">
        <div class="form-group">
            <label for="reset_code">Код восстановления:</label>
            <input type="text" id="reset_code" name="reset_code">
            <span id="comment-reset-code" class="comment">Код должен состоять из 8 цифр</span>
            <span class="comment">Код отправлен на ваш email</span>
        </div>
        <div class="form-group">
            <label for="new_password">Новый пароль:</label>
            <input type="password" id="new_password" name="new_password">
            <span id="new_password_hint_1" class="comment">Минимум 7 символов английского алфавита</span>
            <span id="new_password_hint_2" class="comment">Минимум одна буква и одна цифра</span>
        </div>
        <div class="form-group">
            <label for="confirm_password">Повторите новый пароль:</label>
            <input type="password" id="confirm_password" name="confirm_password">
            <span id="confirm_password_hint" class="comment">Пароли должны совпадать</span>
        </div>
        <button type="submit">Изменить пароль</button>
    </form>
    {% endif %}
    <p class="warning">Взлом аккаунтов других пользователей запрещен
        и преследуется по правилам сайта. Все действия на сайте записываются
        и в случае нарушения правил нарушитель будет заблокирован по IP-адрессу перманентно.</p>
</div>

{% include 'defaults/footer.html' %}
{% endblock %}

{% block scripts %}
<script src="{% static 'auths/js/restore-password.js' %}"></script>
<script src="{% static 'defaults/js/captcha.js' %}"></script>
{% endblock %}
