{% extends 'defaults/base.html' %}

{% block title %}Часто задаваемые вопросы{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='information_pages/css/faq.css') }}">
{% endblock %}

{% block content %}
<header class="header">
    <h1 class="header-title">Часто задаваемые вопросы</h1>
</header>

    <section class="faq-section">
        <div class="faq-item">
            <h2 class="faq-question">Что такое БЖУ и как его рассчитать?</h2>
            <p>БЖУ — это белки, жиры и углеводы, необходимые для поддержания здорового образа жизни. Вы можете рассчитать свою суточную норму БЖУ с помощью нашего калькулятора на странице "Расчет БЖУ".</p>
        </div>

        <div class="faq-item">
            <h2 class="faq-question">Как создать расписание тренировок?</h2>
            <p>На странице "Тренировки" вы можете легко создавать и управлять своими тренировочными программами. Просто выберите дни недели, типы упражнений и количество подходов.</p>
        </div>

        <div class="faq-item">
            <h2 class="faq-question">Могу ли я использовать ваш сайт для тренировок с друзьями?</h2>
            <p>Наш сайт не подразумевает таких функций, потому что разработчики придерживаются мнения о том, что у всех программа тренировок индивидуальная</p>
        </div>

        <div class="faq-item">
            <h2 class="faq-question">Как связаться с поддержкой, если у меня возникли проблемы с сайтом?</h2>
            <p>Если у вас возникли вопросы или проблемы с нашим сайтом, свяжитесь с нами через один из контактов снизу. Мы рады помочь вам!</p>
        </div>

        <div class="faq-item">
            <h2 class="faq-question">Нужно ли платить за использование приложения?</h2>
            <p>Нет, приложение абсолютно бесплатное, так как проект является учебным.</p>
        </div>
    </section>

{% include 'defaults/footer.html' %}
{% endblock %}
