{% extends 'defaults/base.html' %}

{% block title %}Условия использования{% endblock %}

{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='information_pages/css/terms-of-use.css') }}">
{% endblock %}

{% block content %}
<div class="container">
    <header>
        <h1>Условия использования</h1>
    </header>

    <section>
        <h2>1. Общие положения</h2>
        <p>Добро пожаловать на спортивный сайт. Используя наш сайт, вы соглашаетесь с этими условиями использования полностью и безоговорочно. Если вы не согласны с какими-либо из условий, пожалуйста, не используйте наш сайт.</p>

        <h2>2. Использование сервиса</h2>
        <p>Вы обязуетесь использовать наш сайт только в законных целях и в соответствии с действующими законами и нормами поведения в интернете. Запрещается любое незаконное или вредоносное использование нашего сервиса.</p>

        <h2>3. Ограничения ответственности</h2>
        <p>Мы не несем ответственности за ущерб или убытки, возникшие в результате использования нашего сайта или его содержимого. Мы не гарантируем точность или полноту предоставленной информации.</p>

        <h2>4. Изменения и прекращение работы сайта</h2>
        <p>Мы оставляем за собой право в любое время изменять, приостанавливать или прекращать работу нашего сайта без предварительного уведомления.</p>

        <h2>5. Согласие с условиями</h2>
        <p>Ваше использование нашего сайта означает ваше согласие с этими условиями использования. Пожалуйста, периодически проверяйте эту страницу на обновления.</p>

        <h2>6. Контактная информация</h2>
        <p>Если у вас есть вопросы по поводу наших условий использования, свяжитесь с нами через контакты ниже.</p>
    </section>
</div>

{% include 'defaults/footer.html' %}
{% endblock %}
