<style>
    body {
        overflow-x: hidden;
        margin: 0;
    }

    footer#--default-footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 320px;
        background: #2b3333;
    }

    footer#--default-footer div {
        width: 270px;
        height: 320px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        font-size: 145%;
        margin: 0px 10px;
    }

    footer#--default-footer div p, a {
        font-family: "Montserrot", sans-serif;
        font-optical-sizing: auto;
        font-weight: 300;
        color: #aaaaaa;
        font-style: italic;
        font-size: 100%;
        margin: 0;
        text-align: center;
        text-decoration: none;
    }

    footer#--default-footer a:hover {
        text-decoration: underline;
    }
</style>
<footer id="--default-footer">
    <div>
        <a href="/sitemap/">Карта сайта</a>
        <a href="/privacy-policy/">Политика конфиденциальности</a>
        <a href="/terms-of-use/">Условия использования</a>
        <a href="/faq/">FAQ</a>
    </div>
    <div>
        <p>Контактные данные:</p>
        <a href="https://github.com/anigilyatornayapushka">Гитхаб</a>
        <a href="https://web.telegram.org/k/#@zusjjaka">Телеграм</a>
        <a href="https://vk.com/yyycka">Вк</a>
    </div>
    <div>
        <p><p></p></p><p></p><p><p></p></p>
        <p>Вперёд!</p>
        <img src="../../static/img/homepage__arm_logo.png">
        <p>Спортивное движение</p>
        <p><p></p></p><p></p><p><p></p></p>
    </div>
    <div>
        <a href="https://github.com/anigilyatornayapushka/SportWebSite/blob/main/LICENSE">&copy; 2024 Sport Site. Все права защищены.</a>
    </div>
</footer>