.header {
    text-align: center;
    margin: 20px 0;
}

.header-title {
    color: #333;
}

.faq-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    gap: 20px;
    margin: 20px auto;
}

.faq-item {
    background-color: #ffffff;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: calc(50% - 20px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.faq-question {
    color: #333;
    font-weight: bold;
    margin-bottom: 10px;
}

.faq-item p {
    color: #666;
    line-height: 1.6;
}
